.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

header {
  text-align: center;
  background: #ffffff;
  color: white;
  padding: 15px;
  border-radius: 5px;
}

h2 {
  color: #007bff;
}

p, li {
  font-size: 16px;
  line-height: 1.6;
}

ul, ol {
  margin-left: 20px;
}

code {
  background: #f4f4f4;
  padding: 5px;
  display: block;
  border-radius: 5px;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: monospace;
  background-color: #f8f9fa;
  border-left: 4px solid #0d6efd;
}

ul ul {
  list-style-type: circle;
}

.btn-primary {
  transition: all 0.3s ease-in-out;
  border-radius: 50px;
}

.btn-primary:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
